.clock{
    
    font-size: 28px;
    color: blueviolet;
    font-family: 'Open sans';
    width: 550px;
    /* height: 94px; */
    border: 2px solid black;
    margin: 0 20px 20px 20px;
    padding: 10px;
    background-color: orange;
    background-size: cover;
    background-position-y: 20%;
}
.tabs {
    width: 240px;
    height: 200px;
}

.tab-header {
    width: 200px;
    height: 30px;
    margin: 0 20px;
    display: flex;
    justify-content: space-between;
}

.tab-content {
    font-weight: bold;
    color: white;
    height: 192px;
    margin: 0 20px;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightblue;
    background-size: cover;
}

.active {
        border-bottom: none;
        background-color: aquamarine;
        color: red;

}
.tab-header > span {
    width: 65px;
    border-top: 2px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 2px solid black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-top: 4px;
    text-align: center;
    cursor: pointer;
    /* background-color: lightblue; */
}
.tab-content p {
    text-align: center;
}